{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Signup" %}{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <p>{% trans "Du bist bereits eingeloggt." %}</p>
    <a href="{% url 'board_list' %}">{% trans "Zu meinen Pinnwänden" %}</a>
    <script>
        window.location.href = "{% url 'board_list' %}";
    </script>
{% else %}
    <h1>{% trans "Registrieren" %}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">{% trans "Registrieren" %}</button>
    </form>
    <a href="{% url 'login' %}">{% trans "Schon ein Konto? Login" %}</a>
{% endif %}
{% endblock %}