<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mitglied hinzufügen</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/global.css'%}">
</head>
<body class="light-mode">
    <button id="theme-toggle">Dark Mode</button>
    <h1>Mitglied zu {{ board.name }} hinzufügen</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Hinzufügen</button>
    </form>
    <a href="{% url 'board_detail' board.id %}">Zurück</a>
    <script src="{% static 'js/theme-toggle.js' %}"></script>
</body>
</html>