{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Welcome!" %}{% endblock %}

{% block content %}
<h1>{% trans "Welcome to the Bulletin Board App!" %}</h1>
{% if user.is_authenticated %}
    <p>{% trans "You are already logged in." %}</p>
{% else %}
    <p>{% trans "Please log in or register to get started." %}</p>
    <div class="button-group">
        <a href="{% url 'login' %}" class="button">{% trans "Login" %}</a>
        <a href="{% url 'signup' %}" class="button">{% trans "Register" %}</a>
    </div>
{% endif %}
{% endblock %}