{% extends "base.html" %}

{% block title %}Welcome!{% endblock %}

{% block content %}
<h1>Welcome to the Bulletin Board App!</h1>
{% if user.is_authenticated %}
    <p>You are already logged in.</p>
    <a href="{% url 'board_list' %}" class="button">Go to My Boards</a>
{% else %}
    <p>Please log in or register to get started.</p>
    <div class="button-group">
        <a href="{% url 'login' %}" class="button">Login</a>
        <a href="{% url 'signup' %}" class="button">Register</a>
    </div>
{% endif %}
{% endblock %}