{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}Welcome!{% endblock %}
{% block content %}
    <h1>Settings</h1>
    <button id="theme-toggle">{% trans "Dark Mode" %}</button>
    <br>
    <br>
    <a href="/"><button>Zur Startseite</button></a> 
    <br>
    <br>
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Ausloggen</button>
    </form>
    <script src="{% static 'js/theme-toggle.js' %}"></script>
{% endblock %}